---
interface Props {
  eyebrow?: string;
  title: string;
  description?: string;
  align?: 'left' | 'center';
}

const { eyebrow = '', title, description = '', align = 'left' } = Astro.props;
---

<header class={`dst-section-title dst-section-title-${align}`}>
  {eyebrow && <p class="dst-section-eyebrow">{eyebrow}</p>}
  <h2>{title}</h2>
  {description && <p>{description}</p>}
</header>
