SITE_URL=https://dajilin.renban.xyz
PUBLIC_GN_API_BASE_URL=https://api.renban.xyz
PUBLIC_GN_SITE_ID=dajilin
PUBLIC_GN_AI_SESSION_ENDPOINT=
PUBLIC_GN_AI_CHAT_ENDPOINT=
PUBLIC_GN_AI_RECOMMENDED_QUESTIONS_ENDPOINT=
PUBLIC_GN_AI_HANDOFF_ENDPOINT=
